body {
/*	background-color: #f6e8c3;*/
	line-height: 1.62;
}


header {
/*	background-color: #80cdc1;*/
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


#map {
	height: 600px;
	float: right;
}

#geoList {
/*	background-color: #bf812d;*/
	overflow: scroll;
	height: 600px;
}

#hist {
	overflow: scroll;
}

.highlight {
	background:steelblue;
}


/*style d3*/
path {
  fill: #000;
  fill-opacity: .2;
  stroke: #fff;
  stroke-width: 0.5px;
}
path:hover {
  fill: brown;
  fill-opacity: .7;
}